docs/architecture-migration/**/*.png filter=lfs diff=lfs merge=lfs -text
docs/architecture-migration/**/*.trx filter=lfs diff=lfs merge=lfs -text
docs/manual/**/*.png filter=lfs diff=lfs merge=lfs -text
