:root {
  --rehau-white: #FFFFFF;  /* Белый */
  --rehau-active_red: #E50040;  /* Активный Красный */
  --rehau-smart_green: #4FC7B5;  /* Умный Зелёный */
  --rehau-black: #000000;  /* Чёрный */
  --rehau-gray_20: #D9D9D9;  /* Оттенок Чёрный 20 */
  --rehau-gray_40: #B0B0B0;  /* Оттенок Чёрный 40 */
  --rehau-gray_60: #818181;  /* Оттенок Чёрный 60 */
  --rehau-gray_80: #4E4E4E;  /* Оттенок Чёрный 80 */
}
